<div class="container" id="home-container">
	<div class="jumbotron text-center text-white">
		<h1 class="display-4">Deploy App</h1>
		<p class="lead">Write your own articles and let others read.</p>
		<hr class="my-4">
		<p>Sing up now to start writing</p>
		<%= link_to "Sign Up",signup_path,class: "btn btn-success btn-lg"%>
	</div>
</div>
